#indexButton.idle  { background-color: #bbb; }
#indexButton.doing { background-color: #cc0; }
#indexButton.done  { background-color: #be0; }
#indexButton { width: 5em; }
.idle  { background-color: #bbb; }
.doing { background-color: #cc0; }
.done  { background-color: #be0; }
ul.index { padding-left: 1ex; }
.index { background-color: #ddd; display: none; }
.index div { margin: 0 0 3ex; }
.count { color: blue; }
.key { font-weight: bold; }
li.log, li.fail { list-style-type: none; }
.fail { background-color: #fcc; }
li > div { display: inline; }
div.value { font-family: monospace; }
.region { border-left: thick solid gold; }
.region:hover {
    background-color: gold;
}
.target button {
    width: 1em;
    padding: .5em 0;
    padding-right: .5em;
}

.addTarget, .removeTarget {
    font-size: 80%;
    line-height: 1ex;
    font-family: monospace;
}
p, ol { margin: 0; }
pre.value { display: flex; }
